Body{
  background: white;
}

h1{
  text-align: center;
  font-size: 100px;
  font-style: oblique;
  font-family: monospace;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;

}

h2 , h3, h4{
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-family: Ostrich Sans Rounded;
  color: black;
  display: block;
  float: left;
  padding: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div{
  text-align: center;
}
foot{
 text-align: center;
}
