Body{
  background: white;
}

h1{
  text-align: center;
  font-size: 100px;
  font-style: oblique;
  font-family: monospace;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;
}

div{
  text-align: center;
}
foot{
 text-align: center;
}

ul li {
  display: inline-block;
}
